.login__container {
  position: relative;
}

.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  width: 50%;
  text-align: center;
  color: #f05537;
}

form {
  text-align: center;
}

input {
  padding: 10px 5px 10px 5px;
  width: 50%;
  margin: auto;
  border: none;
  border-bottom: 1px solid #f05537;
  margin-bottom: 30px;
}

input:focus {
  border: 1px solid #f05537;
  outline: none;
  border-radius: 10px;
}

button {
    outline: none;
    padding: 10px 50px 10px 50px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #f05537;
}

button:hover {
    background-color: white;
    color: #f05537;
}

.register-link {
    text-decoration: none;
    color: #f05537;
}